{% extends 'home.html' %}
{% block page-title %}
User list
{% endblock %}
{% block page-title-path %}
<ol class="breadcrumb text-right">
    <li class="active">User list</li>
</ol>
{% endblock %}
{% block right-pane-content %}
<!--Right panel - start here -->

<div class="card-header bg-info text-white">
    <div class="col-md-10">
        <h5 class="card-title">Locations Intervened</h5>
    </div>
    <div class="col-md-2">
        <a href="{% url 'account_create' %}" class="pull-right"><button type="button" class="btn btn-light btn-sm"><i class="fa fa-plus"></i></button></a>
    </div>
</div>
<div class="card-body">
    <table id="user_list" class="table table-striped table-bordered" width="100%">
        <thead>
        <tr>
            <th>User Name</th>
            <th>Date Joined</th>
            <th>Last Login</th>
            <th>Active Status</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</div>

<!-- Right panel - ends here -->
{% endblock %}

{% block page_script %}
<script type="text/javascript">
     var table;
    /* Init datatable */
    var initDatatable = function($) {
     table = $("#user_list").DataTable({
            "searching": true,
            "processing": true,
            "serverSide": false,
            "1stateSave": true,
            "colReorder": true,
            "paging":true,
            "responsive": true,
            "ajax": {
                 "processing": true,
                 "url": '{% url "get_user_list_for_datatable" %}',
                 "dataSrc": ""
             },
            "columns":[
                {data: 'fields.username'},
                {data: 'fields.date_joined'},
                {data: 'fields.last_login'},
                {data: 'fields.is_active'},
             ]
        });
    };
    var onUserRowClick = function () {
        var data = table.row( this ).data();
        var url = 'account_update/' + data.pk;
        navigateToUrl(url);
    };

     /* init this page */
    var initUserListView = function ($) {
        initDatatable($);
        // bind row click event
        $('#user_list tbody').on('click', 'tr', onUserRowClick);
    };

/* int this page */
    jQuery(document).ready(initUserListView($));

</script>
{% endblock %}