{% extends "base.html" %}

{% block content %}
 <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="/static/images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username.label_tag }}
                            <input class="form-control" id="{{ form.username.id_for_label }}"
                                   maxlength="30" placeholder="User name"
                                   name="{{ form.username.html_name }}" type="text" />
                        </div>
                        <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password"
                                name="{{ form.password.html_name }}" value="{{ form.password.value }}" >
                        </div>
                        <div class="checkbox">
                            <label class="pull-right">
                                <a href="{% url 'password_reset' %}">Forgot Password?</a>
                            </label>
                        </div>
                        <button type="submit" value="login" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                        <div class="register-link m-t-15 text-center">
                            <p>Don't have account ? <a href="{% url 'register' %}"> Sign Up Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<input type="hidden" name="next" value="{{ next }}">

{% endblock %}