.menutoggle {
    background: #17a2b8;
}
dt {
    font-weight: normal;
    color: #000000 !important;
}
dd {
    font-weight:700;
    color: #606060 !important;
}
.chosen-container-single .chosen-single {
    padding: .375rem .75rem;
    height: 36px;
    border: 1px solid #ced4da;
    background: none !important;
    line-height: 1.5;
}
.chosen-container-single .chosen-single div b {
    background-position-y: 7px !important;
}
.form-group {
    margin-bottom: 2rem;
}
.table-row-clickable tbody tr, .card-clickable {
    cursor: pointer;
}
.card-domain-index {
    height:50px;
}
.spinner {
    background-image: url('/static/images/spinner.gif');
    height: 100px;
    width: 100px;
}
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
.program-images {
    width: 200px;
    height:200px;
}
.btn-delete{
    padding: 10px;
    border: 1px solid red;
    background-color: red;
    color: #fff;
    border-radius: 3px;
    height: 20px;
    width: 20px;
    position: relative;
    top: -75px;
    right: 40px;
}
.card{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem
    }
.domain-card {
    width: 250px;
    height: 150px;
}
.text-success{
    color:#28a745!important
    }
.text-danger{
    color:#dc3545!important
    }
.text-danger-light{
    color:#f98048!important
    }
.bg-danger-light{
    background-color:#f98048!important
    }
.text-color-2{
    color:#63c2de!important
    }
.bg-color-2{
    background-color:#63c2de!important
    }

.page-break {
    page-break-before: always
}

.program-images {
    width: 600px;
    height:400px;
}