{% extends 'home.html' %}

{% block page-title %}
Locations
{% endblock %}
 {% block page-title-path %}
<ol class="breadcrumb text-right">
    <li class="active">Locations</li>
</ol>
{% endblock %}
{% block right-pane-content %}

<!--Right panel - start here -->

<div class="card">
    <div class="card-header bg-info text-white">
        <div class="col-md-10">
            <h5 class="card-title">Locations Intervened</h5>
        </div>
        <div class="col-md-2">
            <a href="{% url 'location_new' %}" class="pull-right"><button type="button" class="btn btn-light btn-sm"><i class="fa fa-plus"></i></button></a>
        </div>
    </div>
    <div class="card-body">
        <table id="location_list" class="table table-striped table-bordered table-row-clickable" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Intervention date</th>
                    <th>Exit Date</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- Right panel - ends here -->

{% endblock %}


{% block page_script %}
<script type="text/javascript">

    var table;

    /* Init datatable */
    var initDatatable = function($) {
        table = $("#location_list").DataTable({
            "searching": true,
            "processing": true,
            "serverSide": false,
            "stateSave": true,
            "colReorder": true,
            "paging":true,
            "responsive": true,
            "ajax": {
                 "processing": true,
                 "url": '{% url "get_location_list_for_datatable" %}',
                 "dataSrc": function (json) {
                    console.log('in cb....');
                    console.log(json);
                    return json;
                 }
             },
             "columns":[
                {data: 'fields.location_name'},
                {data: 'fields.date_of_intervention', render: appUtils.formatDatatableDate },
                {data: 'fields.exit_date', defaultContent:'-', render: appUtils.formatDatatableDate }, //defaultContent is required to render null values
             ]
        });
    };

    var onLocationRowClick = function () {
        var data = table.row( this ).data();

        var url = 'view/' + data.pk;
        appUtils.navigateToUrl(url);
    };

    /* init this page */
    var initLocationListView = function ($) {
        initDatatable($);

        // bind row click event
        $('#location_list tbody').on('click', 'tr', onLocationRowClick);
    };

    /* int this page */
    jQuery(document).ready(initLocationListView($));

</script>
{% endblock %}