{% extends 'home.html' %}
{% block page-title %}
Locations details
{% endblock %}
{% block page-title-path %}
<ol class="breadcrumb text-right">
    <li><a href="/location">Locations</a></li>
    <li class="active">Details</li>
</ol>
{% endblock %}
{% block right-pane-content %}
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12" >
                    <h3 class="card-title">{{object.location_name}}
                        <a href='{% url "location_edit" object.location_id %}' class="text-info" title="Edit location details">
                            <i class="fa fa-pencil-square-o px-3"></i>
                        </a>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <dl>
                        <dt>Date of intervention</dt>
                        <dd>{{ object.date_of_intervention }}</dd>
                    </dl>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <dl>
                        <dt>Exit date</dt>
                        {% if  object.exit_date == None %}
                        <dd> - </dd>
                        {% else %}
                        <dd>{{ object.exit_date }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer d-none">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href='{% url "location_new" %}' class="btn btn-info">View surveys conducted</a>
                    <a href='{% url "location_delete" object.location_id %}' class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Display survey list -->
<div class="card">
    <div class="card-header bg-info text-white">
        <h5> Surveys conducted at {{object.location_name}}</h5>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12" >
                    <table id="location_survey_list" class="table table-striped table-bordered" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type </th>
                            <th>Created By</th>
                            <th>Publish Date </th>
                        </tr>
                        </thead>
                        <tbody></tbody></table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block page_script %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        console.log('In ready of location detail');
        //alert('in ready function');
        $("#location_survey_list").DataTable({
            "searching": true,
            "processing": true,
            "serverSide": false,
            "stateSave": true,
            "colReorder": true,
            "paging":true,
            "responsive": true,
            "ajax": {
                 "processing": true,
                 "url": '{% url "get_location_survey_list_for_datatable" object.location_id %}',
                 "dataSrc": ""
             },
             "columns":[
                {data: 'fields.survey_name'},
                {data: 'fields.survey_type_code_id'},
                {data: 'fields.created_by'},
                {data: 'fields.publish_date', render: appUtils.formatDatatableDate}
             ]
        });
    } );
</script>
{% endblock %}