{% extends 'home.html' %}

{% block page-title %}
    Add location
{% endblock %} <!-- end of block page-title -->

{% block page-title-path %}
<ol class="breadcrumb text-right">
    <li><a href="/location/">Locations</a></li>
    <li class="active">Add location</li>
</ol>
{% endblock %} <!-- end of block page-title-path -->



{% block right-pane-content %}
<div class="content mt-3">
    <div class="animated fadeIn">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body  px-3 py-4">
                        <form  method="post" action="">
                            {% csrf_token %}
                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                <label class="form-control-label">Location name</label>
                                <input id="{{form.location_name.id_for_lable}}" name="{{ form.location_name.html_name }}"
                                       type="text" class="form-control" data-val="true" placeholder="Enter location name "
                                       aria-required="true" aria-invalid="false" >
                                {% for error in form.location_name.errors %}
                                    <small class="form-text text-danger">{{error}}</small>
                                {% endfor %}
                            </div>

                            <div class="form-group col-lg-12 col-md-12 col-sm-12 date-picker">
                                <label class="form-control-label">Date of intervention</label><br/>
                                {{form.date_of_intervention}}
                                {% for error in form.date_of_intervention.errors %}
                                    <small class="form-text text-danger">{{error}}</small>
                                {% endfor %}
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <button id=btnSave" type="submit" value="add" class="btn btn-info">Add</button>
                                <a href="{% url 'location_list' %}" id="btnCancel"  class="ml-2 btn btn-outline-info">Cancel</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} <!-- end of right-pane-content -->

{% block page_script %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#id_date_of_intervention_month').chosen({width: "15%"});
        $('#id_date_of_intervention_day').chosen({width: "8%"});
        $('#id_date_of_intervention_year').chosen({width: "10%"});
    });
</script>
{% endblock %}