{% extends 'report.html' %}
{% block title %}
Report
{% endblock %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style  type="text/css">


    </style>
</head>
{% block content %}
<div class="card">
    <div class="card-header bg-info text-white">
        <div class="col-md-10">
            <a  href="./"><img src="/home/aishwarya/Project/Anarde/Anarde/village-development/code_base/static/images/anarde.jpeg" alt="Anarde" height="42" width="82"></a>
            <h1 class="card-title">Survey details</h1>
            <hr/>
        </div>
    </div>


          <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12" >
                        <p class="card-title">{{object.survey_name}}

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <dl>
                            <dt>Survey Type :</dt>
                            <dd>{{ object.survey_type_code_id.code_name }} </dd>
                             <dt>Publish date :</dt>
                            <dd>{{ object.publish_date }}</dd>
                            <dt>Location :</dt>
                            <dd>{{ object.location_id.location_name }}</dd>
                            <dt>Survey Created by :</dt>
                            <dd>{{ object.created_by }}</dd>
                        </dl>
                    </div>

                        <a  href="./"><img src="/home/aishwarya/Project/Anarde/Anarde/village-development/code_base/static/images/domain.jpeg"  height="150" width="650" /></a>



                </div>
                <div class="card-header bg-info text-white">
        <div class="col-md-10">
            <h5 class="card-title">Survey questions</h5>
        </div>
    </div>
    <div class="card-body">
        <table id="survey_question_list" class="table table-striped table-bordered table-row-clickable" width="100%">
            <thead>
            <tr>
                <th>Question name</th>
                <th>Question lable</th>
                <th>Question type</th>
                <th>Question weightage</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
            </div>
        </div>
    </div>

<div id="footerContent">
            {%block page_foot%}
                Page <pdf:pagenumber>
            {%endblock%}
</div>

{% endblock %}
{% block page_script %}
<script type="text/javascript">
    var table;
    /* Init datatable */
    var initDatatable = function($) {
        table = $("#survey_question_list").DataTable({
            "searching": true,
            "processing": true,
            "serverSide": false,
            "1stateSave": true,
            "colReorder": true,
            "paging":true,
            "responsive": true,
            "ajax": {
                 "processing": true,
                 "url": '{% url "report:get_survey_question_list_for_pdf" object.survey_id %}',
                 "dataSrc": ""
             },
            "columns":[
                {data: 'fields.question_name'},
                {data: 'fields.question_label'},
                {data: 'fields.question_type'},
                {data: 'fields.question_weightage', defaultContent:'-'}
            ]

        });
    };


     /* init this page */
    var initQuestionListView = function ($) {
        initDatatable($);

    };



    /* int this page */
    jQuery(document).ready(initQuestionListView($));

</script>
{% endblock %}
