{% extends 'base.html' %}

{% block content %}
  <h2>Sign up</h2>
<div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="/static/images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
      <form method="post">
      {% csrf_token %}

    {{ form.as_p }}
    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign up</button>
  </form>
                </div></div></div></div>
{% endblock %}

