{% extends 'home.html' %}
{% block page-title %}
Survey Details
{% endblock %}
{% block page-title-path %}
<ol class="breadcrumb text-right">
    <li><a href="/survey">Surveys</a></li>
    <li class="active">Details</li>
</ol>
{% endblock %}
{% block right-pane-content %}
<div class="card">
    <form method="post" action="">
        {% csrf_token %}
        <!--Survey details - -->
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12" >
                        <h3 class="card-title">{{object.survey_name}}
                            <a href='{% url "survey_edit" object.survey_id %}' class="text-info" title="Edit survey details">
                                <i class="fa fa-pencil-square-o px-3"></i>
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <dl>
                            <dt>Survey Type</dt>
                            <dd>{{ object.survey_type_code_id.code_name }}</dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl>
                            <dt>Publish date</dt>
                            <dd>{{ object.publish_date }}</dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl>
                            <dt>Location</dt>
                            <dd>{{ object.location_id.location_name }}</dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl>
                            <dt>Survey Created by</dt>
                            <dd>{{ object.created_by }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <!--Buttons in footer of survey details -->
        <div class="card-footer bg-light">
            <!--<div class="container">-->
            <div class="row">
                <div class="col-md-2">
                    <button id="pull-form-data" type="submit" name="pull-form-data" value="pull_kobo_form_data"
                            class="btn btn-md btn-info">
                        Pull Kobo Questions
                    </button>
                </div>

                <div class="col-md-4">
                    <button id="pull-response-data" type="submit" name="pull-response-data" value="pull_kobo_data" class="btn btn-md btn-info">
                        Pull Kobo Data
                    </button>
                </div>
                <!--{{ show_delete }}-->
                {% if show_delete %}

                <div class="col-md-3">
                    <a href='{% url "survey_delete" object.survey_id %}' class="btn btn-danger">Delete survey</a>
                </div>
                {% endif %}

            </div>
            <!-- </div>-->
        </div>
    </form>
</div>
<!--Display survey graphs -->
<div class="card d-none">
    <div class="card-header bg-info text-white">
        <h5> Data of {{object.survey_name}}</h5>
    </div>
    <div class="card-body">
    </div>
</div>

<div class="card">
    <div class="card-header bg-info text-white d-none">
        <h5> Survey analysis</h5>
    </div>
    <div class="card-body">
        <div class="custom-tab">

            <div>
                <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                    <li class="nav-item" id="tab-domain-index">
                        <a class="nav-link active show" data-toggle="tab"
                           href="#tab-domain-index-content" role="tab" aria-controls="tab-domain-index-content" aria-selected="true">Domainwise index</a>
                    </li>
                    <li class="nav-item" id="tab-graphs">
                        <a class="nav-link" data-toggle="tab"
                           href="#tab-graphs-content" role="tab" aria-controls="tab-graphs-content" aria-selected="false">Analysis</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content pl-3 py-5" id="nav-tabContent">
                <!--Content for domainwise index tab -->
                <div class="tab-pane fade active show" id="tab-domain-index-content" role="tabpanel" aria-labelledby="tab-domain-index-content">
                    <p>Survey data</p>
                </div>

                <!--Content for analysis tabs -->
                <div class="tab-pane fade" id="tab-graphs-content" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12" >
                                <iframe src="{{iframeUrl}}"
                                        width="1000"
                                        height="900"
                                        frameborder="0" ></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block page_script %}
<script type="text/javascript">

var showDomain = function ($) {
    var showDomainSuccessCB = function (response) {
        console.log('In success');
        console.log(response);
        var allDomainHtml = '';
        var replacedHtml = '';
        var domainCardTemplate = '<div id ="domain_box" class="col-sm-6 col-lg-3">' +
                        '<div  class="card text-white bg-flat-color-2 domain-index" >' +
                            '<div class="card-body pb-0">' +
                            '<div  class=" float-right">' +
                                /*'<a [next_page]'+
                                '<i class="ti-arrow-circle-right px-3"></i>'+
                                '</a>'+*/
                            '</div>' +
                                '<h4 class="mb-0">' +
                                    '<span class="count">[vulnerability_index]</span>' +
                                '</h4>' +
                                '<p class="text-light">[domain_name]</p>' +
                                '<div class="chart-wrapper px-0 card-domain-index">' +
                                    '<div style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">' +
                                        '<div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">' +
                                            '<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>' +
                                        '</div>' +
                                        '<div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">' +
                                            '<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</div>'


        for (index = 0; index < response.length; index++) {
            replacedHtml = domainCardTemplate.replace('[domain_name]', response[index].fields.domain_name);
            replacedHtml = replacedHtml.replace('[vulnerability_index]', response[index].index);
            //var domain_id = response[index].pk
            //var location_id = response[index].location_id
            //replacedHtml = replacedHtml.replace('[next_page]', 'href="/survey/survey_program_list/'+ domain_id+'/'+location_id+'"');
            allDomainHtml += replacedHtml;

        }

        $('#tab-domain-index-content').html(allDomainHtml);

    };

    var showDomainErrorCB = function (response) {
        console.log('In error');
        console.log(response);
    };

    $.ajax({
        url: '{% url "survey_suggestion" object.survey_id %}',
        success: showDomainSuccessCB,
        error: showDomainErrorCB
    });
}

var navigateToNextTab = function () {
    console.log('clicked domain index');
    $('#tab-graphs').trigger('click');
};

var initSurveryDetailView = function (dollar) {
    $ = dollar;
  // register on click event
  $('#domain_tab').on('click',showDomain($));

    console.log('in init...................................................................');
  var domainCard = $('#tab-domain-index-content');
  console.log(domainCard);
  domainCard.on('click', '.domain-index', navigateToNextTab);

};
var $;
jQuery(document).ready(initSurveryDetailView($));

</script>
{% endblock %}