{% extends 'home.html' %}
{% block page-title %}
Surveys conducted
{% endblock %}
{% block page-title-path %}
<ol class="breadcrumb text-right">
    <li class="active">Surveys</li>
</ol>
{% endblock %}
{% block right-pane-content %}
<!--Right panel - start here -->

<div class="card">
    <div class="card-header bg-info text-white">
        <div class="col-md-10">
            <h5 class="card-title">Survey List</h5>
        </div>
        <div class="col-md-2">
            <a href="{% url 'survey_new' %}" class="pull-right"><button type="button" class="btn btn-light btn-sm"><i class="fa fa-plus"></i></button></a>
        </div>
    </div>
    <div class="card-body">
        <table id="survey_list" class="table table-striped table-bordered table-row-clickable" width="100%">
            <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <th>Name</th>
                    <th>Location</th>
                    <th>Type </th>
                    <th>Created By</th>
                    <th>Publish Date </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- Right panel - ends here -->
{% endblock %}

{% block page_script %}
<script type="text/javascript">

    var table;
    /* Init datatable */
    var initDatatable = function($) {
        table= $("#survey_list").DataTable({
            "searching": true,
            "processing": true,
            "serverSide": false,
            "1stateSave": true,
            "colReorder": true,
            "paging":true,
            "responsive": true,
            "ajax": {
                 "processing": true,
                 "url": '{% url "get_survey_list_for_datatable" %}',
                 "dataSrc": ""
             },
            "columns":[
                {data: 'fields.survey_name'},
                {data: 'fields.location_id'},
                {data: 'fields.survey_type_code_id'},
                {data: 'fields.created_by'},
                {data: 'fields.publish_date', render: appUtils.formatDatatableDate}
            ]
        });
    }

    var onSurveyRowClick = function () {
        var data = table.row( this ).data();
        var url = 'view/' + data.pk;
        appUtils.navigateToUrl(url);
    };

    /* init this page */
    var initSurveyListView = function ($) {
        initDatatable($);

        // bind row click event
        $('#survey_list tbody').on('click', 'tr', onSurveyRowClick);
    }

    /* int this page */
    jQuery(document).ready(initSurveyListView($));


</script>
{% endblock %}