{% extends 'home.html' %}
{% block page-title %}
Survey Details
{% endblock %}
{% block page-title-path %}
<ol class="breadcrumb text-right">
    <li><a href="/survey">Surveys</a></li>
    <li class="active">Details</li>
</ol>
{% endblock %}
{% block right-pane-content %}
<div class="card">
    <form method="post" action="">
        {% csrf_token %}
        <!--Survey details - -->
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12" >
                        <h3 class="card-title">{{object.survey_name}}
                            <a href='{% url "survey_edit" object.survey_id %}' class="text-info" title="Edit survey details">
                                <i class="fa fa-pencil-square-o px-3"></i>
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <dl>
                            <dt>Survey Type</dt>
                            <dd>{{ object.survey_type_code_id.code_name }}</dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl>
                            <dt>Publish date</dt>
                            <dd>{{ object.publish_date }}</dd>
                        </dl>
                    </div>
                    <div class="col-3" id="divSurveyLocation" location-id="{{ object.location_id.location_id }}">
                        <dl>
                            <dt>Location</dt>
                            <dd>{{ object.location_id.location_name }}</dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl>
                            <dt>Survey Created by</dt>
                            <dd>{{ object.created_by }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <!--Buttons in footer of survey details -->
        <div class="card-footer bg-light">
            <!--<div class="container">-->
            <div class="row">
                <div class="col-md-2">
                    <button id="pull-form-data" type="submit" name="pull-form-data" value="pull_kobo_form_data"
                            class="btn btn-md btn-info">
                        Pull Kobo Questions
                    </button>
                </div>

                <div class="col-md-4">
                    <button id="pull-response-data" type="submit" name="pull-response-data" value="pull_kobo_data" class="btn btn-md btn-info">
                        Pull Kobo Data
                    </button>
                </div>
                <div class="col-md-3">
                    <a href = "{% url 'survey_question_list' object.survey_id domain_id %}" >
                        <button type = "button" class ="ml-2 btn btn-outline-info d-none" > Survey Questions </button >
                    </a>
                </div>
                <div class="col-md-3">
                    <a href = "{% url 'report:survey_pdf' object.survey_id %}" target="_blank" >
                        <button type = "button" class ="ml-2 btn btn-outline-info" >Survey report</button >
                    </a>
                </div>


                <!--{{ show_delete }}-->
                {% if show_delete %}

                <div class="col-md-3">
                    <a href='{% url "survey_delete" object.survey_id %}' class="btn btn-danger">Delete survey</a>
                </div>
                {% endif %}

            </div>
            <!-- </div>-->
        </div>
    </form>
</div>
<!--Display survey graphs -->
<div class="card d-none">
    <div class="card-header bg-info text-white">
        <h5> Data of {{object.survey_name}}</h5>
    </div>
    <div class="card-body">
    </div>
</div>

<div class="card">
    <div class="card-header bg-info text-white d-none">
        <h5> Survey analysis</h5>
    </div>
    <div class="card-body">
        <div class="custom-tab">

            <div>
                <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                    <li class="nav-item" id="tab-domain-index">
                        <a class="nav-link active show" data-toggle="tab"
                           href="#tab-domain-index-content" role="tab" aria-controls="tab-domain-index-content" aria-selected="true">Domainwise index</a>
                    </li>
                    <li class="nav-item" id="tab-analysis">
                        <a class="nav-link" data-toggle="tab"
                           href="#tab-analysis-content" role="tab" aria-controls="tab-analysis-content" aria-selected="false">Analysis</a>
                    </li>
                    <li class="nav-item" id="tab-suggestions">
                        <a class="nav-link" data-toggle="tab"
                           href="#tab-suggestions-content" role="tab" aria-controls="tab-suggestions-content" aria-selected="false">Suggestions
                        </a>
                    </li>
                    <li class="nav-item" id="tab-questions">
                        <a class="nav-link" data-toggle="tab"
                           href="#tab-questions-content" role="tab" aria-controls="tab-questions-content" aria-selected="false">Questions
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content pl-3 py-5" id="nav-tabContent">
                <!--Content for domainwise index tab -->
                <div class="tab-pane fade active show" id="tab-domain-index-content" role="tabpanel" aria-labelledby="tab-domain-index-content">
                    <h3 class="px-3 mb-3">Vulnerability index</h3>
                    <div id="domain-list">
                        <center><img src="/static/images/spinner.gif" class="py-5"></center>
                    </div>
                </div>

                <!--Content for analysis tabs -->
                <div class="tab-pane fade" id="tab-analysis-content" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h3 class="px-3 mb-3 selectedDomainName" prefixtext="Graphical analysis for "></h3>
                                <iframe id="frmGraphs" src=""  width="100%" height="900" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content  for suggestions -->
                <div class="tab-pane fade" id="tab-suggestions-content" role="tabpanel" aria-labelledby="tab-suggestions-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h3 class="px-3 mb-3 selectedDomainName" prefixtext="Program suggestions for "></h3>
                                <div class="iframe-container">
                                    <iframe id="frmSuggestion" src=""  width="100%" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content for survey questions -->
                <div class="tab-pane fade" id="tab-questions-content" role="tabpanel" aria-labelledby="tab-questions-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h3 class="px-3 mb-3 selectedDomainName" prefixtext="Survey questions for "></h3>
                                <div class="iframe-container">
                                    <iframe id="frmQuestion" src=""  width="100%" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block page_script %}
<script type="text/javascript">

var showDomain = function ($) {
    var showDomainSuccessCB = function (response) {
        console.log('In success');
        console.log(response);
        var allDomainHtml = '';
        var replacedHtml = '';
        var domainCardTemplate = '<div id ="domain_box" class="col-sm-6 col-lg-3 card-clickable">' +
                        '<div  class="card text-white [color-code] domain-index" domain-id=[domain_id] >' +
                            '<div class="card-body pb-0">' +
                                '<p class="text-light">[domain_name]</p>' +
                                '<div class="chart-wrapper px-0 card-domain-index stat-widget-one">' +
                                     '<strong class="count stat-digit text-white">[vulnerability_index] %</strong>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</div>'


        for (index = 0; index < response.length; index++) {
            //bg-flat-color-2
            replacedHtml = domainCardTemplate.replace('[domain_name]', response[index].fields.domain_name);
            replacedHtml = replacedHtml.replace('[domain_id]', response[index].pk);
            replacedHtml = replacedHtml.replace('[vulnerability_index]', response[index].index );

            vulnerability_index = response[index].index;
            color_code = 'bg-flat-color-2'
            if( vulnerability_index < 25) {
                color_code = 'bg-danger';
            } else if( vulnerability_index >= 25 && vulnerability_index < 50) {
                color_code = 'bg-danger-light';
            } else if( vulnerability_index >= 50 && vulnerability_index < 75) {
                color_code = 'bg-flat-color-2';
            } else {
                color_code = 'bg-success';
            }

            replacedHtml = replacedHtml.replace('[color-code]', color_code );
            //var domain_id = response[index].pk
            //var location_id = response[index].location_id
            //replacedHtml = replacedHtml.replace('[next_page]', 'href="/survey/survey_program_list/'+ domain_id+'/'+location_id+'"');
            allDomainHtml += replacedHtml;
        }
        $('#domain-list').html(allDomainHtml);
    };

    var showDomainErrorCB = function (response) {
        console.log('In error');
        console.log(response);
    };

    $.ajax({
        url: '{% url "survey_suggestion" object.survey_id %}',
        success: showDomainSuccessCB,
        error: showDomainErrorCB
    });
};


var setQuestionContent = function (domain_id) {
    $('iframe#frmQuestion').attr('src', '/survey/survey_question_list/{{object.survey_id }}/' + domain_id)
}

var setProgramSuggestionContent = function (domain_id) {
    location_id = $('#divSurveyLocation').attr('location-id');
    $('iframe#frmSuggestion').attr('src', '/survey/survey_program_list/' + domain_id + '/' + location_id)
}

var showDomainWiseGraph = function (domain_id) {
    var showDomainWiseGraphSuccessCB = function (response) {
        if (response.iframeUrl == '') {

        }
        $('iframe#frmGraphs').attr('src', response.iframeUrl);
    };

    var showDomainWiseGraphErrorCB = function (response) {
        console.log('There was some error when fetching graphs');
        console.log(response);
    };

    var showDomainWiseGraphCompleteCB = function () {
        $('iframe#frmGraphs').removeClass('spinner');
    }

    $('iframe#frmGraphs').addClass('spinner');
    var ajaxUrl = '/survey/show_domainwise_metabase_graph/{{object.survey_id }}/' + domain_id;
    $.ajax({
        url: ajaxUrl,
        success: showDomainWiseGraphSuccessCB,
        error: showDomainWiseGraphErrorCB,
        complete: showDomainWiseGraphCompleteCB
    });
};

var activateTab = function (tabSelector) {
    $('.nav.nav-tabs .nav-item a.active.show').removeClass('active show');
    $('.nav.nav-tabs .nav-item' + tabSelector + ' a').addClass('active show');

    tabContentID = $('.nav.nav-tabs .nav-item' + tabSelector + ' a').attr('aria-controls');
    $('.tab-content .tab-pane.active.show').removeClass('active show');
    $('#' + tabContentID).addClass('active show');
};

var domainCardOnClick = function (e) {
    domain_card = $(e.currentTarget).find('.card');
    domain_id = domain_card.attr('domain-id');
    domain_name = domain_card.find('p').html();

    //heading = $('.selectedDomainName').attr('prefixtext')

    $('.selectedDomainName').html( domain_name)
    activateTab('#tab-analysis');

    showDomainWiseGraph(domain_id);
    setProgramSuggestionContent(domain_id);
    setQuestionContent(domain_id);
};

var initSurveyDetailView = function (dollar) {
   $ = dollar;

  // register on click event
  showDomain($);
  var domainCard = $('#tab-domain-index-content');
  domainCard.on('click', '.card-clickable', domainCardOnClick);
};
var $;
jQuery(document).ready(initSurveyDetailView($));

</script>
{% endblock %}