{% extends 'home.html' %}
{% block page-title %}
Delete Survey
{% endblock %}
 {% block page-title-path %}
<ol class="breadcrumb text-right">
                            <li><a href="/location">Survey</a></li>
                            <li><a href="/location">Details</a></li>
                            <li class="active">Delete</li>
</ol>
{% endblock %}
{% block right-pane-content %}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Survey Delete</strong>
    </div>
    <div class="card-body">

        <form method="post">{% csrf_token %}
            Are you sure you want to delete {{object.survey_name}} ?
            <input type="submit" value="submit"  class="btn btn-danger "/>
        </form>
    </div>
</div>


{% endblock %}