{% extends 'home.html' %}

{% block page-title %}
    Program implementation
{% endblock %} <!-- end of block page-title -->

{% block page-title-path %}
<ol class="breadcrumb text-right">
<!--    <li><a href="/location/">Locations</a></li>-->
<!--    <li class="active">Add location</li>-->
</ol>
{% endblock %} <!-- end of block page-title-path -->



{% block right-pane-content %}
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body px-3 py-4">
                        <form method="post" action=""  class="form-horizontal1 row" enctype="multipart/form-data" id="js-upload-form">
                            {% csrf_token %}

                            <!--Location-->
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="form-control-label">Location</label>
                                <input type="text" disabled class="form-control" value="{{location_name}}">
                            </div>


                            <!--date-->
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 date-picker">
                                <label class="form-control-label">Date of implementation</label><br/>
                                {{form.date_of_implementation}}
                                {% for error in form.date_of_implementation.errors %}
                                <small class="form-text text-danger">{{error}}</small>
                                {% endfor %}
                            </div>

                            <!--<div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="form-control-label">Images before Program was conducted</label>
                                <input type ="file" class="form-control-file" name="before_image_upload" multiple
                                       value={{form.before_image_upload}}
                            </div>-->

                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="form-control-label" > Images after Program was conducted</label>
                                <input type ="file" class="form-control-file" name="after_image_upload" multiple
                                       value={{form.after_image_upload}}

                            </div>
                            <!-- Notes -->
                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                <label class="form-control-label">Notes</label>
                                <textarea rows="3" id="{{form.notes.id_for_lable}}" name="{{ form.notes.html_name }}"
                                       type="text" class="form-control" data-val="true" placeholder="Enter program notes"
                                          aria-required="true" aria-invalid="false" ></textarea>
                            </div>


                            <h4>Select files from your computer</h4>

                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="file" class="form-control-file" name="before_image_upload"
                                           id="js-upload-files" multiple value={{form.before_image_upload}}
                                </div>
                                <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                            </div>


                            <!-- Drop Zone -->
                            <h4>Or drag and drop files below</h4>
                            <div class="upload-drop-zone" id="drop-zone">
                                Just drag and drop files here
                            </div>

                            <!-- Progress Bar -->
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>

                            <!-- Upload Finished -->
                            <div class="js-upload-finished">
                                <h3>Processed files</h3>
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
                                    <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
                                </div>
                            </div>

                            <!--Buttons-->

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <button id="create-button" type="submit" class="btn btn-info">Submit</button>
                                <a href="{% url 'survey_program_list' obj_program.domain_id.domain_id location_name.location_id %}"  id="btnCancel" value="cancel" class="ml-2 btn btn-outline-info">Cancel</a>
                            </div>

                            {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} <!-- end of right-pane-content -->

{% block page_script %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#id_date_of_implementation_month').chosen({width: "15%"});
        $('#id_date_of_implementation_day').chosen({width: "8%"});
        $('#id_date_of_implementation_year').chosen({width: "10%"});
        $('select').chosen({width:'100%'});



        'use strict';

        // UPLOAD CLASS DEFINITION
        // ======================

        var dropZone = document.getElementById('drop-zone');
        var uploadForm = document.getElementById('js-upload-form');

        var startUpload = function(files) {
            console.log(files)
        }

        uploadForm.addEventListener('submit', function(e) {
            var uploadFiles = document.getElementById('js-upload-files').files;
            e.preventDefault()

            startUpload(uploadFiles)
        })

        dropZone.ondrop = function(e) {
            e.preventDefault();
            this.className = 'upload-drop-zone';

            startUpload(e.dataTransfer.files)
        }

        dropZone.ondragover = function() {
            this.className = 'upload-drop-zone drop';
            return false;
        }

        dropZone.ondragleave = function() {
            this.className = 'upload-drop-zone';
            return false;
        }
    });
</script>
{% endblock %}