{% extends 'base.html' %}

{% block content %}

<!--Right panel - start here -->

<div class="card">
    <div class="card-header bg-info text-white">
        <div class="col-md-10">
            <h5 class="card-title">Suggested programs under {{obj_domain.domain_name }} domain</h5>
        </div>
    </div>
    <div class="card-body">
        <table id="survey_program_list" class="table table-striped table-bordered table-row-clickable" width="100%">
            <thead>
            <tr>
                <th>Program name</th>
                <th>Description</th>
                <th>Implemented on date</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- Right panel - ends here -->

{% endblock %}
{% block page_script %}
<script type="text/javascript">
    var table;
    /* Init datatable */
    var initDatatable = function($) {
        table = $("#survey_program_list").DataTable({
            "searching": true,
            "processing": true,
            "serverSide": false,
            "1stateSave": true,
            "colReorder": true,
            "paging":true,
            "responsive": true,
            "ajax": {
                 "processing": true,
                 "url": '{% url "get_location_program_list_for_datatable" obj_domain.domain_id obj_location.location_id%}',
                 "dataSrc": ""
             },
            "columns":[
                {data: 'program_name'},
                {data: 'description'},
                {data: 'date_of_implementation', defaultContent:'-', render: appUtils.formatDatatableDate }
            ]

        });
    };


     /* init this page */
    var initProgramListView = function ($) {
        initDatatable($);
        // bind row click event
        $('#survey_program_list tbody').on('click', 'tr', onProgramRowClick);
        $('body').addClass('bg-white');
    };
    var onProgramRowClick = function () {

        var data = table.row( this ).data();
        var url = '/survey/survey_location_program_update/' + data.domain_program_id+ '/' + data.location_id_id ;

        appUtils.navigateToUrl(url);
    };


    /* int this page */
    jQuery(document).ready(initProgramListView($));

</script>
{% endblock %}