{% extends 'home.html' %}

{% block page-title %}
  Add Program
{% endblock %} <!-- end of block page-title -->

{% block page-title-path %}
<ol class="breadcrumb text-right">
    <li><a href="/domain/">Domains</a></li>
    <li class="active">Add program</li>
</ol>
{% endblock %} <!-- end of block page-title-path -->
{% block right-pane-content %}
<div class="content mt-3">
    <div class="animated fadeIn">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body  px-3 py-4">
                        <form  method="post" action="">
                            {% csrf_token %}
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                <label class="form-control-label">Domain name</label>
                                <input type="text" disabled class="form-control" value="{{object.domain_name}}">
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="form-control-label">Program name</label>
                                <input id="{{form.program_name.id_for_lable}}" name="{{ form.program_name.html_name }}"
                                       type="text" class="form-control" data-val="true" placeholder="Enter program name "
                                       aria-required="true" aria-invalid="false" >
                                {% for error in form.program_name.errors %}
                                <small class="form-text text-danger">{{error}}</small>
                                {% endfor %}
                            </div>

                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                <label class="form-control-label">Description</label>
                                <textarea rows="3" id="{{form.description.id_for_lable}}" name="{{ form.description.html_name }}"
                                       type="text" class="form-control" data-val="true" placeholder="Enter domain description"
                                          aria-required="true" aria-invalid="false" ></textarea>
                            </div>


                            <div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <button id=btnSave" type="submit" value="add" class="btn btn-info">Add</button>
                                    <button id="btnCancel" type="submit" value="cancel" class="ml-2 btn btn-outline-info">Cancel</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} <!-- end of right-pane-content -->
