{% extends 'home.html' %}
{% block page-title %}
Edit domain
{% endblock %}
{% block page-title-path %}
<ol class="breadcrumb text-right">
    <li><a href="domain/">Domains</a></li>
    <li class="active">Edit domain</li>
</ol>
{% endblock %}


{% block right-pane-content %}
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body px-3 py-4">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="form-control-label" for="{{form.domain_name.id_for_label}}">Domain name</label>
                               <input id="{{form.domain_name.id_for_label}}" name="{{ form.domain_name.html_name }}"
                                       value="{{form.domain_name.value}}" type="text" class="form-control" aria-required="true"
                                        placeholder="Enter domain name "
                                       aria-invalid="false" >
                                {% for error in form.domain_name.errors %}
                                    <p class="text-danger form-text">{{ error }} </p>
                                 {% endfor %}
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="form-control-label"> Kobo group key</label>
                                <input id="{{form.kobo_group_key.id_for_lable}}" name="{{ form.kobo_group_key.html_name }}"
                                       value="{{form.kobo_group_key.value}}" type="text" class="form-control" data-val="true" placeholder="Enter group key "
                                       aria-required="true" aria-invalid="false" >
                                 {% for error in form.kobo_group_key.errors %}
                                    <p class="text-danger form-text">{{ error }} </p>
                                 {% endfor %}
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                <label class="form-control-label" for="{{form.description.id_for_label}}">Description</label>
                               <input id="{{form.description.id_for_label}}" name="{{ form.description.html_name }}"
                                       value="{{form.description.value}}" type="text" class="form-control"
                                        placeholder="Enter domain description "
                                       aria-invalid="false" >
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <button id="btnSave" type="submit" value="Update" class="btn btn-info">Save Domain</button>
                                <button id="btnCancel" type="submit" value="cancel" class="ml-2 btn btn-outline-info">Cancel</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %} <!-- end of right-pane-content -->

{% block page_script %}
<script type="text/javascript">
 jQuery(document).ready(function($) {
  // Delete
    $(".btnDelete").click(function() {
        let confirmation = confirm("are you sure you want to remove the item?");
        if (confirmation) {
            var id = $(this).attr('pk');
            $.ajax({
                type: "POST",
                url: "/domain/delete/" + $id,
                data: { csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() },
                success: function(response){
                     alert("Deleted!");
                }
            }
        });
        return false;
    });


});
</script>
{% endblock %}