{% extends 'home.html' %}

{% block page-title %}
  Add Funder
{% endblock %} <!-- end of block page-title -->

{% block page-title-path %}
<ol class="breadcrumb text-right">
    <li><a href="/funders/">Funders</a></li>
    <li class="active">Add funder</li>
</ol>
{% endblock %} <!-- end of block page-title-path -->



{% block right-pane-content %}
<div class="content mt-3">
    <div class="animated fadeIn">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body px-3 py-4">
                        <form  method="post" action="">
                            {% csrf_token %}
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="form-control-label">Organization name</label>
                                <input id="{{form.organization_name.id_for_label}}" name="{{ form.organization_name.html_name }}"
                                       type="text" class="form-control" data-val="true" placeholder="Enter organization name"
                                       aria-required="true" aria-invalid="false" >
                                {% for error in form.organization_name.errors %}
                                <small class="form-text text-danger">{{error}}</small>
                                {% endfor %}
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="form-control-label">Funder</label>
                                {{form.user_id}}
                                {% for error in form.user_id.errors %}
                                <small class="form-text text-danger">{{error}}</small>
                                {% endfor %}
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 date-picker">
                                <label class="form-control-label">Date of Funding</label><br/>
                                {{form.funding_date}}
                                {% for error in form.funding_date.errors %}
                                    <small class="form-text text-danger">{{error}}</small>
                                {% endfor %}
                            </div>

                            <!--funding amt -->
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="form-control-label"> Funding Amount(in INR) </label>
                                <input id="{{form.funding_amount.id_for_label}}" name="{{ form.funding_amount.html_name }}"
                                       type="text" class="form-control" data-val="true" placeholder="Enter amount"
                                       aria-required="true" aria-invalid="false" >
                                {% for error in form.funding_amount.errors %}
                                <small class="form-text text-danger">{{error}}</small>
                                {% endfor %}
                            </div>

                            <div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <button id=btnSave" type="submit" value="add" class="btn btn-info">Add</button>
                                    <a href="{% url 'funder_list' %}" id="btnCancel"  class="ml-2 btn btn-outline-info">Cancel</a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} <!-- end of right-pane-content -->

{% block page_script %}
<script type="text/javascript">
    jQuery(document).ready(function($) {

        $('#id_funding_date_month').chosen({width: "30%"});
        $('#id_funding_date_day').chosen({width: "20%"});
        $('#id_funding_date_year').chosen({width: "20%"});
        $('select').chosen({width:'100%'});
    });
</script>
{% endblock %}